<div class="list-group m-3">
    <h1>Contraseña modificada con exito!</h1>
    <div class="d-flex w-100">
        <a href="http://localhost:8080/users/logout" class="m-2">
            <button type="button" class="btn btn-danger">Cerrar sesion</button>
        </a>
        <a href="http://localhost:8080/api/products" class="m-2">
            <button type="button" class="btn btn-info">Ir a los productos</button>
        </a>
        <a href="http://localhost:8080/users/profile" class="m-2">
            <button type="button" class="btn btn-success">Ir al perfil</button>
        </a>
    </div>
</div>