<form class="row g-3 m-2" action="http://localhost:8080/register" method="post">
  <h1>Crear un usuario</h1>
  <div class="col-12">
    <label class="form-label">Nombre</label>
    <input type="text" class="form-control" name="firstname">
  </div>
  <div class="col-12">
    <label class="form-label">Apellido</label>
    <input type="text" class="form-control" name="lastname">
  </div>
  <div class="col-12">
    <label class="form-label">Edad</label>
    <input type="text" class="form-control" name="age">
  </div>
  <div class="col-md-6">
    <label class="form-label">Email</label>
    <input type="email" class="form-control" name="email">
  </div>
  <div class="col-md-6">
    <label class="form-label">Contraseña</label>
    <input type="password" class="form-control" name="password">
  </div>
  <div class="col-md-12">
    <button type="submit">Registrarse</button>
  </div>
</div>
</form>
<br />
<div class="m-2">
  <h2>Si ya tienes usuario puedes:</h2>
  <a href="http://localhost:8080/login">
    <button>Iniciar sesion</button>
  </a>
</div>

