<form class="row g-3 m-2" action="http://localhost:8080/users/recoverPassword" method="post">
  <h1>Coloca el email y la nueva contraseña</h1>
  <div class="col-md-6">
    <label class="form-label">Email</label>
    <input type="email" class="form-control" name="email">
  </div>
  <div class="col-md-6">
    <label class="form-label">Nueva contraseña</label>
    <input type="password" class="form-control" name="password">
  </div>
  <div class="col-md-12">
    <button type="submit" class="btn btn-success">Confirmar</button>
  </div>
</form>